<%- include('header'); %>

<section class="pcoded-main-container">
    <div class="p-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Active Student</h5>
                        <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Avatar</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var j = 1; for(var i of active) { %>                                     
                                    <tr>
                                        <td><%= j++ %></td>
                                        <td><img src="<%= i.avatar %>" width="200px" height="200px" style="background-size: cover;object-fit: cover; background-position: top;"></td>
                                        <td><a href="/hodProfile/?hodId=<%= i.id %>"><%= i.name %></a></td>
                                        <td><%= i.email %></td>
                                        <td><%= i.phone %></td>
                                        <td><%= i.department %></td>
                                        <td><a href="/hod/deActive/<%= i.id %>">Deactive</a></td>
                                        <td><a href="/hod/sendMail/<%= i.id %>" title="Send Mail"><i class="feather icon-mail"></i></a> ||
                                            <a href="/hod/viewTeacher/<%= i.id %>" title="View Teacher"><i class="feather icon-user"></i></a> ||
                                            <a href="/hod/deleteData/<%= i.id %>" title="deleteData"><i class="feather icon-trash"></i></a> || 
                                            <a href="/hod/updateData/<%= i.id %>" title="updateData"><i class="feather icon-edit"></i></a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<%- include('footer'); %>