<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    body {
        background-color: #f9f9fa
    }
    
    .padding {
        padding: 3rem !important
    }
    
    .user-card-full {
        overflow: hidden;
    }
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        border: none;
        margin-bottom: 30px;
    }
    
    .m-r-0 {
        margin-right: 0px;
    }
    
    .m-l-0 {
        margin-left: 0px;
    }
    
    .user-card-full .user-data {
        border-radius: 5px 0 0 5px;
    }
    
    .bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263);
    }
    
    .user-data {
        padding: 20px 0;
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .m-b-25 {
        margin-bottom: 25px;
    }
    
    .img-radius {
        border-radius: 5px;
    }
    
    
     
    h6 {
        font-size: 14px;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    @media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .text-muted {
        color: #919aa3 !important;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .f-w-600 {
        font-weight: 600;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .user-card-full .social-link li {
        display: inline-block;
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    
    
</style>
<%- include('header'); %>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row d-flex justify-content-center">
<div class="col-xl-8 col-md-12">
    <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-8">
                <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Name</p>
                            <h6 class="text-muted f-w-400"><%= data.name %></h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Email</p>
                            <h6 class="text-muted f-w-400"><%= data.email %></h6>
                        </div>
                        <% if(studentId != '') { %>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Father Name</p>
                                <h6 class="text-muted f-w-400"><%= data.fathername %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Mother Name</p>
                                <h6 class="text-muted f-w-400"><%= data.mothername %></h6>
                            </div>
                        <% } %>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Gender</p>
                            <h6 class="text-muted f-w-400"><%= data.gender %></h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Date Of Birth </p>
                            <h6 class="text-muted f-w-400"><%= data.dob %></h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Phone</p>
                            <h6 class="text-muted f-w-400"><%= data.phone %></h6>
                        </div>
                        <% if(teacherId != '') { %>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Age </p>
                                <h6 class="text-muted f-w-400"><%= data.age %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Education </p>
                                <h6 class="text-muted f-w-400"><%= data.education %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Experience</p>
                                <h6 class="text-muted f-w-400"><%= data.experience %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Subject</p>
                                <h6 class="text-muted f-w-400"><%= data.subject %></h6>
                            </div>
                        <% } if(studentId != '') { %>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Teacher Name</p>
                                <h6 class="text-muted f-w-400"><%= data.teacherId.name %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">12th Per</p>
                                <h6 class="text-muted f-w-400"><%= data.per %></h6>
                            </div>
                        <% } if(teacherId != '') { %>
                            <div class="col-sm-12">
                                <p class="m-b-10 f-w-600">Department</p>
                                <h6 class="text-muted f-w-400"><%= data.hodId.department %></h6>
                            </div>
                        <% } if(studentId != '') { %>
                            <div class="col-sm-12">
                                <p class="m-b-10 f-w-600">Department</p>
                                <h6 class="text-muted f-w-400"><%= data.hodId.department %></h6>
                            </div>
                            <div class="col-sm-12">
                                <p class="m-b-10 f-w-600">Address</p>
                                <h6 class="text-muted f-w-400"><%= data.address %></h6>
                            </div>
                        <% } %>
                    </div>
                    
                </div>
            </div>
            <% var imgpath = data.avatar.slice(7); %>
            <div class="col-xl-4">
                <div class="d-flex align-items-center justify-content-center w-100 h-100">
                    <img src="<%= imgpath %>" width="200px" height="200px" style="background-size: cover;object-fit: cover; background-position: top;">
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
</div>
<%- include('footer'); %>   